<h1>Here the list of concerts! :</h1>

<ul>
	<% @concerts.each do |concert| %>
		<li>
			<%= link_to(concert.band, concert_path(concert)) %>
		</li>
		<% end %>
</ul>

<p><%= link_to("Add concert", new_concert_path) %></p>