<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>show</title>
</head>
<body>
	<p>Address: <%= @contact.address %></p>
	<p>Phone: <%= @contact.phone %></p>
	<p>email: <%= @contact.email %></p>
</body>
</html>

